* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  padding: 10px 5px;
  max-width: 1200px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container1 .navbar .navlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header .container1 .navbar .navlist a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  transition: all 0.3s ease 0s;
  margin: 0 20px;
}
.header .container1 .navbar .navlist a:hover {
  color: #3c39fc;
}
.header .container1 button {
  width: 144px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  background: #3c39fc;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.header .container1 button:hover {
  background: #6664fb;
}
.header .logo {
  width: 80px;
  height: 80px;
}

@media (max-width: 424px) {
  .header .container1 .navbar .navlist .navitem1 {
    display: none;
  }
  .header .container1 .navbar .navlist .navitem2 {
    display: flex;
  }
}
.sect1 {
  padding: 10px 5px;
  background-color: #EDF2F8;
  max-width: 1200px;
}
.sect1 .container1 {
  padding: 80px 70px;
}
.sect1 .container1 .sect1list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.sect1 .container1 .sect1list .sect1item h2 {
  width: 377px;
  height: 78px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}
.sect1 .container1 .sect1list .sect1item p {
  margin: 20px 0;
  max-width: 465px;
  height: 74px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.sect1 .container1 .sect1list2 {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sect1 .container1 .sect1list2 li {
  list-style: none;
}
.sect1 .container1 .sect1list2 li button {
  width: 144px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  background: #3c39fc;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect1 .container1 .sect1list2 li button a {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .sect1 .container2 .sect1list .sect1item2 iframe {
    width: 460px;
    height: 280px;
  }
}
@media (max-width: 1000px) {
  .sect1 .container1 .sect1list .sect1item2 iframe {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 890px) {
  .sect1 .container1 {
    padding: 80px 30px;
  }
  .sect1 .container1 .sect1list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sect1 .container1 .sect1list .sect1item2 iframe {
    margin: 20px 0;
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 502px) {
  .sect1 .container1 {
    padding: 50px 10px;
  }
  .sect1 .container1 .sect1list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sect1 .container1 .sect1list .sect1item h2 {
    width: 280px;
    height: auto;
    font-size: 21px;
    line-height: 25px;
  }
  .sect1 .container1 .sect1list .sect1item p {
    width: 300px;
    height: auto;
    font-size: 12px;
    line-height: 18px;
  }
  .sect1 .container1 .sect1list .sect1item2 iframe {
    margin: 20px 0;
    width: 350px;
    height: 200px;
  }
  .sect1 .container1 .sect1list2 {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sect1 .container1 .sect1list2 li {
    margin: 10px 10px;
  }
}
@media (max-width: 376px) {
  .sect1 .container1 .sect1list .sect1item2 iframe {
    width: 300px;
    height: 168px;
  }
}
@media (max-width: 320px) {
  .sect1 .container1 {
    padding: 50px 10px;
  }
  .sect1 .container1 .sect1list .sect1item h2 {
    width: 280px;
    height: auto;
    font-size: 21px;
    line-height: 25px;
  }
  .sect1 .container1 .sect1list .sect1item p {
    width: 280px;
    height: auto;
    font-size: 12px;
    line-height: 18px;
  }
  .sect1 .container1 .sect1list .sect1item2 iframe {
    margin: 20px 0;
    width: 260px;
    height: 162px;
  }
}/*# sourceMappingURL=webstyle.css.map */