.sect1{
    padding: 10px 5px;
    background-color: #EDF2F8;
    max-width: 1200px;
    .container1{
        padding: 80px 70px;
        .sect1list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            .sect1item{
                h2{
                    width: 377px;
                    height: 78px;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 39px;
                }
                p{
                    margin: 20px 0;
                    max-width: 465px;
                    height: 74px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
                
            }
        }
        .sect1list2{
            margin: 20px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{ 
                list-style: none;
                
                button{
                    width: 144px;
                    height: 40px;
                    padding: 8px 16px;
                    color: #ffffff;
                    background: #3c39fc;
                    border: none;
                    border-radius: 8px;
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .sect1{
        .container2{
            .sect1list{
                .sect1item2{
                    iframe{
                        width: 460px;
                        height: 280px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .sect1{
        .container1{
            .sect1list{
                .sect1item2{
                    iframe{
                        width: 350px;
                        height: 200px;
                    }
                }
            }
        }
    }
}
@media (max-width: 890px) {
    .sect1{
        .container1{
            padding: 80px 30px;
            .sect1list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .sect1item2{
                    iframe{
                        margin: 20px 0;
                        width: 350px;
                        height: 200px;
                    }
                }
            }
        }
    }
}
@media (max-width: 502px) {
    .sect1{
        .container1{
            padding: 50px 10px;
            .sect1list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .sect1item{
                    h2{
                        width: 280px;
                        height: auto;
                        font-size: 21px;
                        line-height: 25px;
                    }
                    p{
                        width: 300px;
                        height: auto;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .sect1item2{
                    iframe{
                        margin: 20px 0;
                        width: 350px;
                        height: 200px;
                    }
                }
            }
            .sect1list2{
                margin: 10px 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                li{
                    margin: 10px 10px;
                }
            }
        }
    }
}
@media (max-width: 376px) {
    .sect1{
        .container1{
            .sect1list{
                .sect1item2{
                    iframe{
                        width: 300px;
                        height: 168px;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .sect1{
        .container1{
            padding: 50px 10px;
            .sect1list{
                .sect1item{
                    h2{
                        width: 280px;
                        height: auto;
                        font-size: 21px;
                        line-height: 25px;
                    }
                    p{
                        width: 280px;
                        height: auto;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .sect1item2{
                    iframe{
                        margin: 20px 0;
                        width: 260px;
                        height: 162px;
                    }
                }
            }
        }
    }
}